.donate {
  width: 100%;
}
.donate-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top-gallery {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tgall {
  width: 250px;
  margin: 1rem auto;
}
.tgall img {
  width: 100%;
}
.organdonationcon {
  padding: 20px;
}
.organdonationcon h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.ordnsplit {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.ordnleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.ordnleft p {
  font-size: 30px;
  font-weight: 600;
  word-spacing: 8px;
}
.ordnleft button {
  width: fit-content;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
}
.ordnleft button:hover {
  background-color: black;
}
.ordnright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordnright img {
  width: 70%;
  border-radius: 10px;
}
.donate-text {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-text h2 {
  width: 70%;
  text-align: center;

  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: #000000;
}
.donate-text p {
  width: 90%;
  text-align: center;
  margin: 3rem auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 37px;
  text-transform: capitalize;
  color: #000000;
}

.selectfield {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@media screen and (max-width: 769px) {
  .donate-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .organdonationcon {
    padding: 5px;
  }
  .organdonationcon h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
  }
  .ordnsplit {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ordnleft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  .ordnleft p {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    word-spacing: 8px;
  }
  .ordnleft button {
    width: fit-content;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
  }
  .ordnleft button {
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
  }
  .ordnright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ordnright img {
    width: 70%;
    border-radius: 10px;
  }
  .donate-text h2 {
    width: 90%;
    text-align: center;
    margin: 0.8rem auto;
    font-size: 22px;
    font-weight: 800;
  }
  .donate-text p {
    width: 90%;
    margin: 1rem auto;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
  }
  .donate-text .donate-btn {
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 8px;
  }
  .cardgrid {
    width: 90%;
    margin: 8rem auto;
  }
  .selectfield {
    font-size: 17px;
    margin-top: 40px;
  }
  .tgall1 {
    display: none;
  }
  .tgall {
    width: 170px;
    margin: 1rem auto;
  }
  .top-gallery {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin: 3rem auto;
  }
}
