.donate {
  width: 100%;
}
.donate-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top-gallery {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tgall {
  width: 250px;
  margin: 1rem auto;
}
.tgall img {
  width: 100%;
}
.donate-text {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-text h2 {
  width: 70%;
  text-align: center;

  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: #000000;
}
.donate-text p {
  width: 90%;
  text-align: center;
  margin: 3rem auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 37px;
  text-transform: capitalize;
  color: #000000;
}

.selectfield {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@media screen and (max-width: 769px) {
  .donate-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .donate-text h2 {
    width: 90%;
    text-align: center;
    margin: 0.8rem auto;
    font-size: 22px;
    font-weight: 800;
  }
  .donate-text p {
    width: 90%;
    margin: 1rem auto;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
  }
  .donate-text .donate-btn {
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 8px;
  }
  .cardgrid {
    width: 90%;
    margin: 8rem auto;
  }
  .selectfield {
    font-size: 17px;
    margin-top: 40px;
  }
  .tgall1 {
    display: none;
  }
  .tgall {
    width: 170px;
    margin: 1rem auto;
  }
  .top-gallery {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin: 3rem auto;
  }
}
